body {
font-family: "Calibri" sans-serif;
font-size: 20px;
background-image: url("3.jpg");
background-color: #bfa81e;
line-height:  normal;
}
.title {
text-align: center;
margin-top: 40px;
border: 5px solid black; 
border-radius: 50%;
width: 1000px;
margin-left: 250px;
background-color: #2cd484;
}
p {
font-size: 30px;
color: #b5195a;


}
h2{
margin-left: 500px;
text-decoration: underline;
margin-top: 30px


}
.extra-information {
font-size: 15px;
color: #b5195a;
font-family: sans-serif;
line-height: 10%;
margin-top: 1px;


}
 
 
pre{
font-family: "Comic Sans MS";
border: 5px solid orange;
background-color: #a2d95d;
width: 700px;
margin-left: 500px;

}
img {
text-align: right;
margin-left: 600px;
border: 3px solid orange;
margin-top: 10px;

}
footer {
display: flex;
justify-content: space-between;
margin-bottom: 5px;
margin-top: 150px
}
 .year {
color: none;
font-size: 20px;	
}



